Disallow non GET operations for `Schema`, `ResourceType` and `ServiceProviderConfig`

[RFC7644 §4](https://datatracker.ietf.org/doc/html/rfc7644#section-4) indicates that only GET operations should be executable on those resources.